asyncio>=3.4
click>=8.0
fastybird-devices-module>=0.52
fastybird-exchange>=0.36
fastybird-fb-bus-connector>=0.38
fastybird-fb-mqtt-connector>=0.16
fastybird-homekit-connector>=0.3
fastybird-metadata>=0.53
fastybird-modbus-connector>=0.20
fastybird-redisdb-exchange-plugin>=0.39
fastybird-redisdb-storage-plugin>=0.7
fastybird-shelly-connector>=0.23
fastybird-triggers-module>=0.32
kink>=0.6
PyYAML>=5.3
setuptools>=57.4
types-PyYAML>=6.0
