asyncio>=3.4
click>=8.0
fastybird-devices-module>=0.42
fastybird-exchange>=0.26
fastybird-fb-bus-connector>=0.23
fastybird-fb-mqtt-connector>=0.9
fastybird-metadata>=0.48
fastybird-modbus-connector>=0.11
fastybird-redisdb-exchange-plugin>=0.29
fastybird-redisdb-storage-plugin>=0.7
fastybird-shelly-connector>=0.16
fastybird-triggers-module>=0.24
kink>=0.6
PyYAML>=5.3
setuptools>=57.4
types-PyYAML>=6.0
