#
# Mini server DI configuration
#
# @license		More in license.md
# @copyright	https://www.fastybird.com
# @author		Adam Kadlec <adam.kadlec@fastybird.com>
# @package		FastyBird:MiniServer!
# @subpackage	config
# @since		0.1.0
#
# @date			25.02.21

parameters:
	database:
		dbname: test
		username: root
		password: root

nettrineDbal:
	connection:
		serverVersion: 5.7
		host: 127.0.0.1
		port: 3306
		driver: pdo_mysql
		memory: false
		dbname: testdb
		user: root
		password: root
		charset: utf8
		wrapperClass: \Tests\Tools\ConnectionWrapper

		types:
			uuid_binary:
				class: Ramsey\Uuid\Doctrine\UuidBinaryType
				commented: false
			utcdatetime:
				class: IPub\DoctrineTimestampable\Types\UTCDateTime
				commented: false

		typesMapping:
			uuid_binary: binary

nettrineOrm:
	configuration:
		proxyDir	: %tempDir%/cache/doctrine.proxies
