#
# MiniServer DI configuration
#
# @license      More in LICENSE.md
# @copyright    https://www.fastybird.com
# @author       Adam Kadlec <adam.kadlec@fastybird.com>
# @package      FastyBird:MiniServer!
# @subpackage   config
# @since        0.1.0
#
# @date         14.12.20

#########################
# Used Nette extensions #
#########################

extensions:
    contributteConsole                              : Contributte\Console\DI\ConsoleExtension(%consoleMode%)
    contributteTranslation                          : Contributte\Translation\DI\TranslationExtension
    contributteEvents                               : Contributte\EventDispatcher\DI\EventDispatcherExtension
    nettrineCache                                   : Nettrine\Cache\DI\CacheExtension
    nettrineDbal                                    : Nettrine\DBAL\DI\DbalExtension
    nettrineDbalConsole                             : Nettrine\DBAL\DI\DbalConsoleExtension
    nettrineOrm                                     : Nettrine\ORM\DI\OrmExtension
    nettrineOrmAttributes                           : Nettrine\ORM\DI\OrmAttributesExtension
    nettrineOrmConsole                              : Nettrine\ORM\DI\OrmConsoleExtension
    nettrineOrmCache                                : Nettrine\ORM\DI\OrmCacheExtension
    nettrineFixtures                                : Nettrine\Fixtures\DI\FixturesExtension
    nettrineMigrations                              : Nettrine\Migrations\DI\MigrationsExtension
    ipubPhone                                       : IPub\Phone\DI\PhoneExtension
    ipubDoctrinePhone                               : IPub\DoctrinePhone\DI\DoctrinePhoneExtension
    ipubDoctrineCrud                                : IPub\DoctrineCrud\DI\DoctrineCrudExtension
    ipubDoctrineTimestampable                       : IPub\DoctrineTimestampable\DI\DoctrineTimestampableExtension
    ipubWebsockets                                  : IPub\WebSockets\DI\WebSocketsExtension
    ipubWebsocketsWamp                              : IPub\WebSocketsWAMP\DI\WebSocketsWAMPExtension
    # FastyBird libs
    fbDateTimeFactory                               : FastyBird\DateTimeFactory\DI\DateTimeFactoryExtension
    fbSimpleAuth                                    : FastyBird\SimpleAuth\DI\SimpleAuthExtension
    fbJsonApi                                       : FastyBird\JsonApi\DI\JsonApiExtension
    # FastyBird app libs
    fbApplicationLibrary                            : FastyBird\Library\Application\DI\ApplicationExtension
    fbMetadataLibrary                               : FastyBird\Library\Metadata\DI\MetadataExtension
    fbExchangeLibrary                               : FastyBird\Library\Exchange\DI\ExchangeExtension
    # FastyBird plugins
    fbRedisDbPlugin                                 : FastyBird\Plugin\RedisDb\DI\RedisDbExtension
    fbWebServerPlugin                               : FastyBird\Plugin\WebServer\DI\WebServerExtension
    fbWsServerPlugin                                : FastyBird\Plugin\WsServer\DI\WsServerExtension
    # FastyBird modules
    fbAccountsModule                                : FastyBird\Module\Accounts\DI\AccountsExtension
    fbDevicesModule                                 : FastyBird\Module\Devices\DI\DevicesExtension
    fbTriggersModule                                : FastyBird\Module\Triggers\DI\TriggersExtension
    fbUiModule                                      : FastyBird\Module\Ui\DI\UiExtension
    # FastyBird connectors
    fbFbMqttConnector                               : FastyBird\Connector\FbMqtt\DI\FbMqttExtension
    fbHomeKitConnector                              : FastyBird\Connector\HomeKit\DI\HomeKitExtension
    fbModbusConnector                               : FastyBird\Connector\Modbus\DI\ModbusExtension
    fbNsPanelConnector                              : FastyBird\Connector\NsPanel\DI\NsPanelExtension
    fbShellyConnector                               : FastyBird\Connector\Shelly\DI\ShellyExtension
    fbSonoffConnector                               : FastyBird\Connector\Sonoff\DI\SonoffExtension
    fbTuyaConnector                                 : FastyBird\Connector\Tuya\DI\TuyaExtension
    fbVieraConnector                                : FastyBird\Connector\Viera\DI\VieraExtension
    fbVirtualConnector                              : FastyBird\Connector\Virtual\DI\VirtualExtension
    fbZigbee2MqttConnector                          : FastyBird\Connector\Zigbee2Mqtt\DI\Zigbee2MqttExtension
    # FastyBird bridges
    fbDevicesModuleUiModuleBridge                   : FastyBird\Bridge\DevicesModuleUiModule\DI\RedisDbPluginDevicesModuleExtension
    fbRedisDbPluginDevicesModuleBridge              : FastyBird\Bridge\RedisDbPluginDevicesModule\DI\RedisDbPluginDevicesModuleExtension
    fbRedisDbPluginTriggersModuleBridge             : FastyBird\Bridge\RedisDbPluginTriggersModule\DI\RedisDbPluginTriggersModuleExtension
    fbVirtualThermostatAddonHomeKitConnectorBridge  : FastyBird\Bridge\VirtualThermostatAddonHomeKitConnector\DI\VirtualThermostatAddonHomeKitConnectorExtension
    # FastyBird addons
    fbVirtualThermostatAddon                        : FastyBird\Addon\VirtualThermostat\DI\VirtualThermostatExtension

decorator:
    FastyBird\Plugin\WebServer\Router\Router:
        setup:
            - addMiddleware(@fbJsonApi.middlewares.jsonapi)
            - addMiddleware(@fbAccountsModule.middlewares.urlFormat)

##################################
# Nette extensions configuration #
##################################

# Simple authentication
#######################
fbSimpleAuth:
    token:
        issuer: %security.issuer%
        signature: %security.signature%
    enable:
        middleware: true
        doctrine:
            models: true
            mapping: true
        casbin:
            database: true
        nette:
            application: true
    application:
        signInUrl: Accounts:Sign:in
        homeUrl: App:Default:default

# JSON:Api support
##################
fbJsonApi:
    meta:
        copyright: FastyBird s.r.o

# WS server
###########
ipubWebsockets:
    server:
        address: %sockets.address%
        port: %sockets.port%

# Redis exchange
################
fbRedisDbPlugin:
    client:
        host: %redis.host%
        port: %redis.port%
        username: %redis.username%
        password: %redis.password%

# Web server plugin
###################
fbWebServerPlugin:
    static:
        publicRoot: %appDir%/public/dist/
        enabled: true
    cors:
        allow:
            headers:
                - Content-Type
                - Authorization
                - X-Requested-With
                - X-Api-Key
    server:
        address: %server.address%
        port: %server.port%
        certificate: %server.certificate%

# Modules
#########
fbAccountsModule:
    apiPrefix: %api.prefixed.modules%

fbDevicesModule:
    apiPrefix: %api.prefixed.modules%
    exchange: %modules.exchange%

fbTriggersModule:
    apiPrefix: %api.prefixed.modules%

# Application
#############

contributteConsole:
    name: "FastyBird:MiniServer!"
    version: "0.1.0"
    catchExceptions: true
    autoExit: true
    url: https://www.fastybird.com
    lazy: false

contributteTranslation:
    locales:
        default: en_US
        fallback: [en_US, en]
    localeResolvers: []
    dirs:
        - %appDir%/vendor/fastybird/json-api/src/Translations

fbMetadataLibrary:
    documents:
        mapping: []

# Doctrine
##########

nettrineDbal:
    connection:
        serverVersion: %database.version%
        host: %database.host%
        port: %database.port%
        driver: %database.driver%
        memory: %database.memory%
        dbname: %database.dbname%
        user: %database.username%
        password: %database.password%
        charset: utf8

        types:
            uuid_binary:
                class: Ramsey\Uuid\Doctrine\UuidBinaryType
                commented: false
            utcdatetime:
                class: IPub\DoctrineTimestampable\Types\UTCDateTime
                commented: false

        typesMapping:
            uuid_binary: binary

nettrineOrm:
    configuration:
        proxyDir: %tempDir%/cache/doctrine.proxies

nettrineOrmAttributes:
    mapping: []

nettrineFixtures:
    paths:
        - %appDir%/fixtures

nettrineMigrations:
    directory: %appDir%/migrations
