#
# MiniServer DI configuration
#
# @license      More in LICENSE.md
# @copyright    https://www.fastybird.com
# @author       Adam Kadlec <adam.kadlec@fastybird.com>
# @package      FastyBird:MiniServer!
# @subpackage   config
# @since        0.1.0
#
# @date         14.12.20

#########################
# Used Nette extensions #
#########################

extensions:
    contributteConsole                  : Contributte\Console\DI\ConsoleExtension(%consoleMode%)
    contributteTranslation              : Contributte\Translation\DI\TranslationExtension
    contributteEvents                   : Contributte\EventDispatcher\DI\EventDispatcherExtension
    contributeFlysystem                 : Contributte\Flysystem\DI\FlysystemExtension
    nettrineAnnotations                 : Nettrine\Annotations\DI\AnnotationsExtension
    nettrineCache                       : Nettrine\Cache\DI\CacheExtension
    nettrineDbal                        : Nettrine\DBAL\DI\DbalExtension
    nettrineOrm                         : Nettrine\ORM\DI\OrmExtension
    nettrineOrmAnnotations              : Nettrine\ORM\DI\OrmAnnotationsExtension
    nettrineOrmConsole                  : Nettrine\ORM\DI\OrmConsoleExtension
    nettrineOrmCache                    : Nettrine\ORM\DI\OrmCacheExtension
    ipubPhone                           : IPub\Phone\DI\PhoneExtension
    ipubDoctrinePhone                   : IPub\DoctrinePhone\DI\DoctrinePhoneExtension
    ipubDoctrineConsistence             : IPub\DoctrineConsistence\DI\DoctrineConsistenceExtension
    ipubDoctrineCrud                    : IPub\DoctrineCrud\DI\DoctrineCrudExtension
    ipubDoctrineTimestampable           : IPub\DoctrineTimestampable\DI\DoctrineTimestampableExtension
    ipubDoctrineDynamicDiscriminatorMap : IPub\DoctrineDynamicDiscriminatorMap\DI\DoctrineDynamicDiscriminatorMapExtension
    ipubWebsockets                      : IPub\WebSockets\DI\WebSocketsExtension
    ipubWebsocketsWamp                  : IPub\WebSocketsWAMP\DI\WebSocketsWAMPExtension
    # FastyBird libs
    fbDateTimeFactory                   : FastyBird\DateTimeFactory\DI\DateTimeFactoryExtension
    fbSimpleAuth                        : FastyBird\SimpleAuth\DI\SimpleAuthExtension
    fbJsonApi                           : FastyBird\JsonApi\DI\JsonApiExtension
    fbMetadata                          : FastyBird\Metadata\DI\MetadataExtension
    fbSocketServerFactory               : FastyBird\SocketServerFactory\DI\SocketServerFactoryExtension
    fbExchange                          : FastyBird\Exchange\DI\ExchangeExtension
    # FastyBird plugins
    fbRedisDbExchangePlugin             : FastyBird\RedisDbExchangePlugin\DI\RedisDbExchangePluginExtension
    fbRedisDbStoragePlugin              : FastyBird\RedisDbStoragePlugin\DI\RedisDbStoragePluginExtension
    fbWebServerPlugin                   : FastyBird\WebServerPlugin\DI\WebServerPluginExtension(%consoleMode%)
    fbWsServerPlugin                    : FastyBird\WsServerPlugin\DI\WsServerPluginExtension
    # FastyBird modules
    fbAccountsModule                    : FastyBird\AccountsModule\DI\AccountsModuleExtension
    fbDevicesModule                     : FastyBird\DevicesModule\DI\DevicesModuleExtension
    fbTriggersModule                    : FastyBird\TriggersModule\DI\TriggersModuleExtension
    fbUiModule                          : FastyBird\UIModule\DI\UIModuleExtension
    # FastyBird connectors
    fbFbBusConnector                    : FastyBird\FbBusConnector\DI\FbBusConnectorExtension
    fbFbMqttConnector                   : FastyBird\FbMqttConnector\DI\FbMqttConnectorExtension
    fbShellyConnector                   : FastyBird\ShellyConnector\DI\ShellyConnectorExtension
    fbModbusConnector                   : FastyBird\ModbusConnector\DI\ModbusConnectorExtension
    fbHomeKitConnector                  : FastyBird\HomeKitConnector\DI\HomeKitConnectorExtension
    fbVirtualConnector                  : FastyBird\VirtualConnector\DI\VirtualConnectorExtension
    fbTuyaConnector                     : FastyBird\TuyaConnector\DI\TuyaConnectorExtension
    # FastyBird application
    fbMiniServer                        : FastyBird\MiniServer\DI\MiniServerExtension(%consoleMode%)

##################################
# Nette extensions configuration #
##################################

# Simple authentication
#######################
fbSimpleAuth:
    token:
        issuer: %security.issuer%
        signature: %security.signature%
    enable:
        middleware: true
        doctrine:
            models: true
            mapping: true

# Socket server factory
#######################
fbSocketServerFactory:
    server:
        address: %server.address%
        port: %server.port%
        certificate: %server.certificate%
    eventLoop: false

# JSON:Api support
##################
fbJsonApi:
    meta:
        copyright: FastyBird s.r.o

# Redis exchange
################
fbRedisDbExchangePlugin:
    enableClassic: true
    enableAsync: true
    connection:
        default:
            host: %redis.host%
            port: %redis.port%
            username: %redis.username%
            password: %redis.password%

# Redis state storage
#####################
fbRedisDbStoragePlugin:
    connection:
        properties:
            host: %redis.host%
            port: %redis.port%
            username: %redis.username%
            password: %redis.password%
            database: 0
        triggers:
            host: %redis.host%
            port: %redis.port%
            username: %redis.username%
            password: %redis.password%
            database: 1

# Web server plugin
###################
fbWebServerPlugin:
    static:
        webroot: %appDir%/public/
        enabled: true
    cors:
        allow:
            headers:
                - Content-Type
                - Authorization
                - X-Requested-With
                - X-Api-Key

# Accounts module
#################
fbAccountsModule:
    apiPrefix: true

# Devices module
################
fbDevicesModule:
    apiPrefix: true

# Triggers module
#################
fbTriggersModule:
    apiPrefix: true

# UI module
###########
fbUiModule:
    apiPrefix: true

# WS server
###########
ipubWebsockets:
    server:
        address: %sockets.address%
        port: %sockets.port%
    routes:
        /io/exchange: 'Exchange:'

    mapping:
        *: FastyBird\WsServerPlugin\Controllers\*Controller

# Application
#############

contributteConsole:
    name: "FastyBird:MiniServer!"
    version: "0.1.0"
    catchExceptions: true
    autoExit: true
    url: https://www.fastybird.com
    lazy: false

contributteTranslation:
    locales:
        default: en_US
        fallback: [en_US, en]
    localeResolvers: []
    dirs:
        - %appDir%/src/Translations
        - %appDir%/vendor/fastybird/accounts-module/src/Translations
        - %appDir%/vendor/fastybird/devices-module/src/Translations
        - %appDir%/vendor/fastybird/triggers-module/src/Translations
        - %appDir%/vendor/fastybird/ui-module/src/Translations
        - %appDir%/vendor/fastybird/json-api/src/Translations

contributeFlysystem:
	filesystem:
		default:
			adapter: League\Flysystem\Local\LocalFilesystemAdapter(%appDir%/var)
			autowired: true

# Doctrine
##########

nettrineDbal:
    connection:
        serverVersion: %database.version%
        host: %database.host%
        port: %database.port%
        driver: %database.driver%
        memory: %database.memory%
        dbname: %database.dbname%
        user: %database.username%
        password: %database.password%
        charset: utf8

        types:
            uuid_binary:
                class: Ramsey\Uuid\Doctrine\UuidBinaryType
                commented: false
            utcdatetime:
                class: IPub\DoctrineTimestampable\Types\UTCDateTime
                commented: false

        typesMapping:
            uuid_binary: binary

nettrineAnnotations:
    debug: %debugMode%
    ignore:
        - writable
        - validator
        - module
        - author
        - subpackage
        - package
        - phpcsSuppress

nettrineOrm:
    configuration:
        proxyDir: %tempDir%/cache/doctrine.proxies

nettrineOrmAnnotations:
    mapping: []
