#
# MiniServer DI configuration
#
# @license      More in LICENSE.md
# @copyright    https://www.fastybird.com
# @author       Adam Kadlec <adam.kadlec@fastybird.com>
# @package      FastyBird:MiniServer!
# @subpackage   config
# @since        0.1.0
#
# @date         14.12.20

#########################
# Used Nette extensions #
#########################

extensions:
    contributteConsole                  : Contributte\Console\DI\ConsoleExtension(%consoleMode%)
    contributteTranslation              : Contributte\Translation\DI\TranslationExtension
    contributteEvents                   : Contributte\EventDispatcher\DI\EventDispatcherExtension
    contributeFlysystem                 : Contributte\Flysystem\DI\FlysystemExtension
    nettrineAnnotations                 : Nettrine\Annotations\DI\AnnotationsExtension
    nettrineCache                       : Nettrine\Cache\DI\CacheExtension
    nettrineDbal                        : Nettrine\DBAL\DI\DbalExtension
    nettrineDbalConsole                 : Nettrine\DBAL\DI\DbalConsoleExtension
    nettrineOrm                         : Nettrine\ORM\DI\OrmExtension
    nettrineOrmAnnotations              : Nettrine\ORM\DI\OrmAnnotationsExtension
    nettrineOrmConsole                  : Nettrine\ORM\DI\OrmConsoleExtension
    nettrineOrmCache                    : Nettrine\ORM\DI\OrmCacheExtension
    nettrineMigrations                  : Nettrine\Migrations\DI\MigrationsExtension
    nettrineFixtures                    : Nettrine\Fixtures\DI\FixturesExtension
    ipubPhone                           : IPub\Phone\DI\PhoneExtension
    ipubDoctrinePhone                   : IPub\DoctrinePhone\DI\DoctrinePhoneExtension
    ipubDoctrineConsistence             : IPub\DoctrineConsistence\DI\DoctrineConsistenceExtension
    ipubDoctrineCrud                    : IPub\DoctrineCrud\DI\DoctrineCrudExtension
    ipubDoctrineTimestampable           : IPub\DoctrineTimestampable\DI\DoctrineTimestampableExtension
    ipubDoctrineDynamicDiscriminatorMap : IPub\DoctrineDynamicDiscriminatorMap\DI\DoctrineDynamicDiscriminatorMapExtension
    ipubWebsockets                      : IPub\WebSockets\DI\WebSocketsExtension
    ipubWebsocketsWamp                  : IPub\WebSocketsWAMP\DI\WebSocketsWAMPExtension
    # FastyBird libs
    fbDateTimeFactory                   : FastyBird\DateTimeFactory\DI\DateTimeFactoryExtension
    fbSimpleAuth                        : FastyBird\SimpleAuth\DI\SimpleAuthExtension
    fbJsonApi                           : FastyBird\JsonApi\DI\JsonApiExtension
    # FastyBird app libs
    fbBootstrapLibrary                  : FastyBird\Library\Bootstrap\DI\BootstrapExtension
    fbMetadataLibrary                   : FastyBird\Library\Metadata\DI\MetadataExtension
    fbExchangeLibrary                   : FastyBird\Library\Exchange\DI\ExchangeExtension
    # FastyBird plugins
    fbRedisDbPlugin                     : FastyBird\Plugin\RedisDb\DI\RedisDbExtension
    fbWebServerPlugin                   : FastyBird\Plugin\WebServer\DI\WebServerExtension
    fbWsServerPlugin                    : FastyBird\Plugin\WsServer\DI\WsServerExtension
    # FastyBird modules
    fbAccountsModule                    : FastyBird\Module\Accounts\DI\AccountsExtension
    fbDevicesModule                     : FastyBird\Module\Devices\DI\DevicesExtension
    fbTriggersModule                    : FastyBird\Module\Triggers\DI\TriggersExtension
    # FastyBird connectors
    fbFbMqttConnector                   : FastyBird\Connector\FbMqtt\DI\FbMqttExtension
    fbModbusConnector                   : FastyBird\Connector\Modbus\DI\ModbusExtension
    fbHomeKitConnector                  : FastyBird\Connector\HomeKit\DI\HomeKitExtension
    fbShellyConnector                   : FastyBird\Connector\Shelly\DI\ShellyExtension
    fbSonoffConnector                   : FastyBird\Connector\Sonoff\DI\SonoffExtension
    fbTuyaConnector                     : FastyBird\Connector\Tuya\DI\TuyaExtension
    fbVieraConnector                    : FastyBird\Connector\Viera\DI\VieraExtension
    # FastyBird bridges
    fbRedisDbDevicesModuleBridge        : FastyBird\Bridge\RedisDbDevicesModule\DI\RedisDbDevicesModuleExtension
    fbRedisDbTriggersModuleBridge       : FastyBird\Bridge\RedisDbTriggersModule\DI\RedisDbTriggersModuleExtension

decorator:
    FastyBird\Plugin\WebServer\Router\Router:
        setup:
            - addMiddleware(@fbJsonApi.middlewares.jsonapi)
            - addMiddleware(@fbAccountsModule.middlewares.urlFormat)

##################################
# Nette extensions configuration #
##################################

# Simple authentication
#######################
fbSimpleAuth:
    token:
        issuer: %security.issuer%
        signature: %security.signature%
    enable:
        middleware: true
        doctrine:
            models: true
            mapping: true

# JSON:Api support
##################
fbJsonApi:
    meta:
        copyright: FastyBird s.r.o

# WS server
###########
ipubWebsockets:
    server:
        address: %sockets.address%
        port: %sockets.port%

# Redis exchange
################
fbRedisDbPlugin:
    client:
        host: %redis.host%
        port: %redis.port%
        username: %redis.username%
        password: %redis.password%

# Web server plugin
###################
fbWebServerPlugin:
    static:
        publicRoot: %appDir%/public/dist/
        enabled: true
    cors:
        allow:
            headers:
                - Content-Type
                - Authorization
                - X-Requested-With
                - X-Api-Key
    server:
        address: %server.address%
        port: %server.port%
        certificate: %server.certificate%

# Modules
#########
fbAccountsModule:
    apiPrefix: %api.prefixed.modules%

fbDevicesModule:
    apiPrefix: %api.prefixed.modules%

fbTriggersModule:
    apiPrefix: %api.prefixed.modules%

# Connectors
############
fbFbMqttConnector:
    writer: %connectors.writers%

fbHomeKitConnector:
    writer: %connectors.writers%

fbModbusConnector:
    writer: %connectors.writers%

fbNsPanelConnector:
    writer: %connectors.writers%

fbShellyConnector:
    writer: %connectors.writers%

fbSonoffConnector:
    writer: %connectors.writers%

fbTuyaConnector:
    writer: %connectors.writers%

fbVieraConnector:
    writer: %connectors.writers%

fbVirtualConnector:
    writer: %connectors.writers%

# Application
#############

contributteConsole:
    name: "FastyBird:MiniServer!"
    version: "0.1.0"
    catchExceptions: true
    autoExit: true
    url: https://www.fastybird.com
    lazy: false

contributteTranslation:
    locales:
        default: en_US
        fallback: [en_US, en]
    localeResolvers: []
    dirs:
        # MODULES
        - %appDir%/vendor/fastybird/fastybird/src/FastyBird/Module/Accounts/src/Translations
        - %appDir%/vendor/fastybird/fastybird/src/FastyBird/Module/Devices/src/Translations
        - %appDir%/vendor/fastybird/fastybird/src/FastyBird/Module/Triggers/src/Translations
        # CONNECTORS
        - %appDir%/vendor/fastybird/fastybird/src/FastyBird/Connector/HomeKit/src/Translations
        - %appDir%/vendor/fastybird/fastybird/src/FastyBird/Connector/NsPanel/src/Translations
        - %appDir%/vendor/fastybird/fastybird/src/FastyBird/Connector/Shelly/src/Translations
        - %appDir%/vendor/fastybird/fastybird/src/FastyBird/Connector/Sonoff/src/Translations
        - %appDir%/vendor/fastybird/fastybird/src/FastyBird/Connector/Tuya/src/Translations
        - %appDir%/vendor/fastybird/fastybird/src/FastyBird/Connector/Viera/src/Translations
        - %appDir%/vendor/fastybird/fastybird/src/FastyBird/Connector/Virtual/src/Translations
        # OTHER LIBRARIES
        - %appDir%/vendor/fastybird/json-api/src/Translations

# Doctrine
##########

nettrineDbal:
    connection:
        serverVersion: %database.version%
        host: %database.host%
        port: %database.port%
        driver: %database.driver%
        memory: %database.memory%
        dbname: %database.dbname%
        user: %database.username%
        password: %database.password%
        charset: utf8

        types:
            uuid_binary:
                class: Ramsey\Uuid\Doctrine\UuidBinaryType
                commented: false
            utcdatetime:
                class: IPub\DoctrineTimestampable\Types\UTCDateTime
                commented: false

        typesMapping:
            uuid_binary: binary

nettrineAnnotations:
    debug: %debugMode%
    ignore:
        - writable
        - validator
        - module
        - author
        - subpackage
        - package
        - phpcsSuppress

nettrineOrm:
    configuration:
        proxyDir: %tempDir%/cache/doctrine.proxies

nettrineOrmAnnotations:
    mapping: []

nettrineFixtures:
    paths:
        - %appDir%/fixtures

nettrineMigrations:
    directory: %appDir%/migrations
