parameters:
    logger:
        rotatingFile:
            enabled: true
            level: 200
        stdOut:
            enabled: %debugMode%
            level: 200
        console:
            enabled: %debugMode%
            level: 200

    database:
        version: 5.7
        host: 127.0.0.1
        port: 3306
        driver: pdo_mysql
        memory: false
        dbname: fastybird
        username: fastybird
        password: fastybird

    redis:
        host: 127.0.0.1
        port: 6379
        username:
        password:

    server:
        address: 0.0.0.0
        port: 8000
        certificate:

    sockets:
        address: 0.0.0.0
        port: 8888

    security:
        issuer: com.fastybird.iot
        signature: 'g3xHbkELpMD9LRqW4WmJkHL7kz2bdNYAQJyEuFVzR3k='

    api:
        prefixed:
            modules: true

    modules:
        exchange: false
