php:
	date.timezone: Europe/Prague

extensions:
	fbCore: FastyBird\Core\DI\CoreExtension

fbCore:
	application:
		documents:
			mapping: []

	dateTimeFactory:
		frozen: DateTimeImmutable('2020-04-01T12:00:00+00:00')

