includes:
	- ../../../../../tests/config/dbal-test-connection.neon

php:
	date.timezone: Europe/Prague

extensions:
	contributteTranslation: Contributte\Translation\DI\TranslationExtension
	nettrineDbal: Nettrine\DBAL\DI\DbalExtension
	nettrineOrm: Nettrine\ORM\DI\OrmExtension
	fbCore: FastyBird\Core\DI\CoreExtension

services:
	cache.storage: Nette\Caching\Storages\DevNullStorage

decorator:
	FastyBird\Core\Routing\ServerRouter:
		setup:
			- addMiddleware(@fbCore.jsonApi.middlewares.jsonapi)
			- addMiddleware(@fbAccountsModule.middlewares.urlFormat)

contributteTranslation:
	locales:
		default: en_US
		fallback:
			- en_US
			- en

	localeResolvers: []
	dirs:
		- %appDir%/../src/Translations
		- %vendorDir%/fastybird/miniserver-core/src/Api/Translations

nettrineDbal:
	connections:
		default:
			wrapperClass: \FastyBird\Module\Accounts\Tests\Tools\ConnectionWrapper

nettrineOrm:
	managers:
		default:
			connection: default
			lazyNativeObjects: true
			proxyDir: %tempDir%/cache/doctrine.proxies
			autoGenerateProxyClasses: 3

fbCore:
	application:
		documents:
			mapping: []

	simpleAuth:
		token:
			issuer: com.fastybird.auth-module
			signature: 'g3xHbkELpMD9LRqW4WmJkHL7kz2bdNYAQJyEuFVzR3k='

		enable:
			middleware: true
			doctrine:
				mapping: true
				models: true

			casbin:
				database: true

			nette:
				application: true

		casbin:
			policy: %appDir%/policy.csv

	jsonApi:
		meta:
			copyright: FastyBird s.r.o

	dateTimeFactory:
		frozen: DateTimeImmutable('2020-04-01T12:00:00+00:00')

