includes:
    - ../tests/PHPStan/conditional.config.php

parameters:
    level: max

    tmpDir: ../var/tools/PHPStan
    resultCachePath: %currentWorkingDirectory%/var/tools/PHPStan/resultCache.src.php

    exceptions:
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true

    checkMissingCallableSignature: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkInternalClassCaseSensitivity: true

    bootstrapFiles:
        - phpstan-bootstrap.php

    stubFiles:
        - ../tests/stubs/BaseLinkInterface.stub
        - ../tests/stubs/ContextInterface.stub
        - ../tests/stubs/LinkInterface.stub
        - ../tests/stubs/PositionInterface.stub
        - ../tests/stubs/SchemaInterface.stub
        - ../tests/stubs/RedisClient.stub
        - ../tests/stubs/EventEmitterInterface.stub

    paths:
        - ../src/FastyBird/Addon/VirtualThermostat/src
        - ../src/FastyBird/Automator/DateTime/src
        - ../src/FastyBird/Automator/DevicesModule/src
        - ../src/FastyBird/Bridge/DevicesModuleUiModule/src
        - ../src/FastyBird/Bridge/RedisDbPluginDevicesModule/src
        - ../src/FastyBird/Bridge/RedisDbPluginTriggersModule/src
        - ../src/FastyBird/Bridge/ShellyConnectorHomeKitConnector/src
        - ../src/FastyBird/Bridge/VieraConnectorHomeKitConnector/src
        - ../src/FastyBird/Bridge/VirtualThermostatAddonHomeKitConnector/src
        - ../src/FastyBird/Connector/FbMqtt/src
        - ../src/FastyBird/Connector/HomeKit/src
        - ../src/FastyBird/Connector/Modbus/src
        - ../src/FastyBird/Connector/NsPanel/src
        - ../src/FastyBird/Connector/Shelly/src
        - ../src/FastyBird/Connector/Sonoff/src
        - ../src/FastyBird/Connector/Tuya/src
        - ../src/FastyBird/Connector/Viera/src
        - ../src/FastyBird/Connector/Virtual/src
        - ../src/FastyBird/Connector/Zigbee2Mqtt/src
        - ../src/FastyBird/Core/Application/src
        - ../src/FastyBird/Core/Application/bin
        - ../src/FastyBird/Core/Exchange/src
        - ../src/FastyBird/Core/Tools/src
        - ../src/FastyBird/Library/Metadata/src
        - ../src/FastyBird/Module/Accounts/src
        - ../src/FastyBird/Module/Devices/src
        - ../src/FastyBird/Module/Triggers/src
        - ../src/FastyBird/Module/Ui/src
        - ../src/FastyBird/Plugin/ApiKey/src
        - ../src/FastyBird/Plugin/CouchDb/src
        - ../src/FastyBird/Plugin/RabbitMq/src
        - ../src/FastyBird/Plugin/RedisDb/src
        - ../src/FastyBird/Plugin/RedisDbCache/src
        - ../src/FastyBird/Plugin/WebServer/src
        - ../src/FastyBird/Plugin/WsServer/src

    excludePaths:
        analyseAndScan:
            - ../src/FastyBird/Core/Application/src/EventLoop/Wrapper.php
            - ../src/FastyBird/Core/Tools/src/Helpers/LoopWrapper.php

    ignoreErrors:
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Addon/VirtualThermostat/src/Commands/Install.php
            count: 6
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Bridge/ShellyConnectorHomeKitConnector/src/Controllers/BridgesV1.php
            count: 3
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Bridge/ShellyConnectorHomeKitConnector/src/Controllers/BaseV1.php
            count: 1
        -
            message: '#^Parameter \#1 \$value of function floatval expects array\|bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Bridge/ShellyConnectorHomeKitConnector/src/Builders/Builder.php
            count: 2
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Bridge/VieraConnectorHomeKitConnector/src/Controllers/BridgesV1.php
            count: 3
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Bridge/VieraConnectorHomeKitConnector/src/Controllers/BaseV1.php
            count: 1
        -
            message: '#^Parameter \#1 \$value of function floatval expects array\|bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Bridge/VieraConnectorHomeKitConnector/src/Builders/Builder.php
            count: 2
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Bridge/VirtualThermostatAddonHomeKitConnector/src/Controllers/BridgesV1.php
            count: 3
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Bridge/VirtualThermostatAddonHomeKitConnector/src/Controllers/BaseV1.php
            count: 1
        -
            message: '#^Parameter \#1 \$value of function floatval expects array\|bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Bridge/VirtualThermostatAddonHomeKitConnector/src/Builders/Builder.php
            count: 2
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Connector/FbMqtt/src/Commands/Install.php
            count: 9
        -
            message: '#^Parameter \#1 \$value of function intval expects array\|bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Connector/FbMqtt/src/Commands/Install.php
            count: 2
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Connector/HomeKit/src/Protocol/Loader.php
            count: 2
        -
            message: '#^Parameter \#1 \$value of function floatval expects array\|bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Connector/HomeKit/src/Protocol/Loader.php
            count: 3
        -
            message: '#^Parameter \#1 \$value of function intval expects array\|bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Connector/HomeKit/src/Protocol/Loader.php
            count: 1
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Connector/HomeKit/src/Controllers/PairingController.php
            count: 3
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Connector/HomeKit/src/Controllers/CharacteristicsController.php
            count: 2
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Connector/HomeKit/src/Controllers/AccessoriesController.php
            count: 2
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Connector/HomeKit/src/Controllers/DiagnosticsController.php
            count: 1
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Connector/HomeKit/src/Commands/Install.php
            count: 8
        -
            message: '#^Parameter \#1 \$value of function floatval expects array\|bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Connector/HomeKit/src/Commands/Install.php
            count: 5
        -
            message: '#^Parameter \#1 \$value of function intval expects array\|bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Connector/HomeKit/src/Commands/Install.php
            count: 1
        -
            message: '#^Method FastyBird\\Connector\\HomeKit\\Entities\\Channels\\Channel::getSource\(\) never returns FastyBird\\Library\\Metadata\\Types\\Sources\\Bridge so it can be removed from the return type.#'
            path: ../src/FastyBird/Connector/HomeKit/src/Entities/Channels/Channel.php
            count: 1
        -
            message: '#^Method FastyBird\\Connector\\HomeKit\\Entities\\Devices\\Device::getSource\(\) never returns FastyBird\\Library\\Metadata\\Types\\Sources\\Bridge so it can be removed from the return type.#'
            path: ../src/FastyBird/Connector/HomeKit/src/Entities/Devices/Device.php
            count: 1
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Connector/Modbus/src/Commands/Install.php
            count: 10
        -
            message: '#^Parameter \#1 \$value of function intval expects array\|bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Connector/Modbus/src/Commands/Install.php
            count: 3
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Connector/Shelly/src/Commands/Install.php
            count: 6
        -
            message: '#^Parameter \#1 \$value of function intval expects array\|bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Connector/Shelly/src/API/Gen1HttpApi.php
            count: 4
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Connector/Shelly/src/API/Gen1HttpApi.php
            count: 5
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Connector/Sonoff/src/Commands/Install.php
            count: 6
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Connector/Sonoff/src/API/LanApi.php
            count: 2
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Connector/Sonoff/src/API/CloudWs.php
            count: 1
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Connector/Sonoff/src/API/CloudApi.php
            count: 11
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Connector/Tuya/src/Commands/Install.php
            count: 7
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Connector/Tuya/src/Clients/Discovery.php
            count: 4
        -
            message: '#^Parameter \#1 \$value of function floatval expects array\|bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Connector/Tuya/src/Clients/Discovery.php
            count: 3
        -
            message: '#^Parameter \#1 \$value of function intval expects array\|bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Connector/Tuya/src/Clients/Discovery.php
            count: 1
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Connector/Tuya/src/API/OpenPulsar.php
            count: 2
        -
            message: '#^Parameter \#1 \$value of function intval expects array\|bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Connector/Tuya/src/API/OpenApi.php
            count: 3
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Connector/Tuya/src/API/OpenApi.php
            count: 2
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Connector/Tuya/src/API/LocalApi.php
            count: 1
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Connector/Viera/src/Commands/Install.php
            count: 7
        -
            message: '#^Parameter \#1 \$value of function intval expects array\|bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Connector/Viera/src/Commands/Install.php
            count: 2
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Connector/Virtual/src/Commands/Install.php
            count: 2
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Connector/Zigbee2Mqtt/src/Commands/Install.php
            count: 11
        -
            message: '#^Parameter \#1 \$value of function intval expects array\|bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Connector/Zigbee2Mqtt/src/Commands/Install.php
            count: 2
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Connector/Zigbee2Mqtt/src/Clients/Subscribers/Device.php
            count: 2
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Connector/Zigbee2Mqtt/src/Clients/Subscribers/Bridge.php
            count: 2
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Accounts/src/Schemas/Accounts/Account.php
            count: 3
        -
            message: '#^Parameter \#1 \$value of function intval expects array\|bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Accounts/src/Schemas/Accounts/Account.php
            count: 1
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Accounts/src/Entities/Identities/Identity.php
            count: 1
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Accounts/src/Controllers/SessionV1.php
            count: 1
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Accounts/src/Controllers/RolesV1.php
            count: 3
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Accounts/src/Controllers/IdentitiesV1.php
            count: 5
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Accounts/src/Controllers/EmailsV1.php
            count: 5
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Accounts/src/Controllers/BaseV1.php
            count: 1
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Accounts/src/Controllers/AccountsV1.php
            count: 3
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Accounts/src/Controllers/AccountV1.php
            count: 1
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Accounts/src/Controllers/AccountIdentitiesV1.php
            count: 3
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Accounts/src/Controllers/AccountEmailsV1.php
            count: 3
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Accounts/src/Controllers/PublicV1.php
            count: 2
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Accounts/src/Controllers/RoleChildrenV1.php
            count: 2
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Accounts/src/Commands/Accounts/Create.php
            count: 3
        -
            message: '#^Method FastyBird\\Module\\Accounts\\Entities\\Roles\\Role::toArray\(\) should return array<string, string\|null> but returns array<string, array<string>\|int\|string\|null>.#'
            path: ../src/FastyBird/Module/Accounts/src/Entities/Roles/Role.php
            count: 1
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Devices/src/Hydrators/Property.php
            count: 2
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Devices/src/Controllers/DevicesV1.php
            count: 15
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Devices/src/Controllers/DevicePropertyStateV1.php
            count: 2
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Devices/src/Controllers/DevicePropertyChildrenV1.php
            count: 2
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Devices/src/Controllers/DevicePropertiesV1.php
            count: 12
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Devices/src/Controllers/DeviceParentsV1.php
            count: 1
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Devices/src/Controllers/DeviceControlsV1.php
            count: 8
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Devices/src/Controllers/DeviceChildrenV1.php
            count: 1
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Devices/src/Controllers/ConnectorsV1.php
            count: 5
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Devices/src/Controllers/ConnectorPropertyStateV1.php
            count: 2
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Devices/src/Controllers/ConnectorPropertiesV1.php
            count: 12
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Devices/src/Controllers/ConnectorControlsV1.php
            count: 8
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Devices/src/Controllers/ChannelsV1.php
            count: 15
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Devices/src/Controllers/ChannelPropertyStateV1.php
            count: 3
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Devices/src/Controllers/ChannelPropertyChildrenV1.php
            count: 3
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Devices/src/Controllers/ChannelPropertiesV1.php
            count: 18
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Devices/src/Controllers/ChannelControlsV1.php
            count: 11
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Devices/src/Controllers/BaseV1.php
            count: 1
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Triggers/src/Controllers/TriggersV1.php
            count: 5
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Triggers/src/Controllers/TriggerControlsV1.php
            count: 8
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Triggers/src/Controllers/NotificationsV1.php
            count: 11
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Triggers/src/Controllers/ConditionsV1.php
            count: 11
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Triggers/src/Controllers/BaseV1.php
            count: 1
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Triggers/src/Controllers/ActionsV1.php
            count: 11
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Ui/src/Controllers/DashboardsV1.php
            count: 5
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Ui/src/Controllers/DataSourcesV1.php
            count: 11
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Ui/src/Controllers/DisplayV1.php
            count: 4
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Ui/src/Controllers/GroupsV1.php
            count: 5
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Ui/src/Controllers/TabsV1.php
            count: 11
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Ui/src/Controllers/WidgetsV1.php
            count: 5
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Module/Ui/src/Controllers/BaseV1.php
            count: 1
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Plugin/RabbitMq/src/Handlers/Message.php
            count: 2
        -
            message: '#^Instanceof between string\|null and Predis\\Response\\ResponseInterface will always evaluate to false.#'
            path: ../src/FastyBird/Plugin/RedisDb/src/Clients/Client.php
            count: 1
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/FastyBird/Plugin/RedisDb/src/Clients/Async/Client.php
            count: 2
        -
            message: '#^Instanceof between string\|null and Predis\\Response\\ResponseInterface will always evaluate to false.#'
            path: ../src/FastyBird/Plugin/RedisDbCache/src/Clients/Client.php
            count: 1
