#
# App basic DI configuration
#
# @license        More in LICENSE.md
# @copyright      https://www.fastybird.com
# @author         Adam Kadlec <adam.kadlec@fastybird.com>
# @package        FastyBird:Application!
# @subpackage     config
# @since          1.0.0
#
# @date           08.03.20

#########################
# Used Nette extensions #
#########################

extensions:
    contributteConsole      : Contributte\Console\DI\ConsoleExtension(%consoleMode%)
    contributteMonolog      : Contributte\Monolog\DI\MonologExtension
    contributteCacheFactory : Contributte\Cache\DI\CacheFactoryExtension
    # contributteCacheDebug : Contributte\Cache\DI\DebugStorageExtension
    orisaiObjectMapper      : OriNette\ObjectMapper\DI\ObjectMapperExtension
    fbApplication           : FastyBird\Core\Application\DI\ApplicationExtension

##################################
# Nette extensions configuration #
##################################

services:
    # cache.storage: FastyBird\Core\Application\Caching\MemoryAdapterStorage(Nette\Caching\Storages\FileStorage(%tempDir%/cache, Nette\Caching\Storages\SQLiteJournal(%tempDir%/cache/journal.s3db)))
    # cache.storage: Nette\Caching\Storages\FileStorage(%tempDir%/cache, Nette\Caching\Storages\SQLiteJournal(%tempDir%/cache/journal.s3db))
    # cache.storage: Nette\Caching\Storages\FileStorage(%tempDir%/cache)

# Symfony console support extension
###################################
contributteConsole:
    name: "FastyBird:Application!"
    version: "1.0"
    catchExceptions: true
    autoExit: true
    url: https://www.fastybird.com
    lazy: false

# Error logs extension
######################
contributteMonolog:
    hook:
        fromTracy: true
        toTracy: false
    channel:
        default:
            handlers:
                - Monolog\Handler\NullHandler
            processors:
                - Monolog\Processor\MemoryPeakUsageProcessor
    holder:
        enabled: true

# Caching extension
###################
# contributteCacheDebug:
#     debug: %debugMode%

# Universal object mapper tool
##############################
orisaiObjectMapper:
    debug: %debugMode%
    rules:
        - FastyBird\Core\Application\ObjectMapper\Rules\UuidRule()

# Core application extension
############################
fbApplication:
    logging:
        rotatingFile:
            enabled: %logger.rotatingFile.enabled%
            level: %logger.rotatingFile.level%
            filename: %logger.rotatingFile.filename%
        stdOut:
            enabled: %logger.stdOut.enabled%
            level: %logger.stdOut.level%
        console:
            enabled: %logger.console.enabled%
            level: %logger.console.level%

# Application extension
#######################
application:
    scanDirs: false
