#
# Application DI configuration
#
# @license        More in LICENSE.md
# @copyright      https://www.fastybird.com
# @author         Adam Kadlec <adam.kadlec@fastybird.com>
# @package        FastyBird:Application!
# @subpackage     config
# @since          1.0.0
#
# @date           24.06.24

php:
    date.timezone: Europe/Prague

extensions:
    contributteTranslation              : Contributte\Translation\DI\TranslationExtension
    nettrineCache                       : Nettrine\Cache\DI\CacheExtension
    nettrineDbal                        : Nettrine\DBAL\DI\DbalExtension
    nettrineOrm                         : Nettrine\ORM\DI\OrmExtension
    nettrineOrmAttributes               : Nettrine\ORM\DI\OrmAttributesExtension
    nettrineOrmConsole                  : Nettrine\ORM\DI\OrmConsoleExtension
    nettrineOrmCache                    : Nettrine\ORM\DI\OrmCacheExtension
    fbDateTimeFactory                   : FastyBird\DateTimeFactory\DI\DateTimeFactoryExtension
    fbSimpleAuth                        : FastyBird\SimpleAuth\DI\SimpleAuthExtension

services:
    - {factory: IPub\SlimRouter\Http\ResponseFactory}
    -
        factory: IPub\SlimRouter\Routing\Router

    cache.storage: Nette\Caching\Storages\DevNullStorage

    - {factory: Symfony\Component\EventDispatcher\EventDispatcher}

contributteTranslation:
    locales:
        default: en_US
        fallback: [en_US, en]
    localeResolvers: []
    dirs:
        - %appDir%/../src/Translations

nettrineDbal:
    connection:
        serverVersion: 'mariadb-10.11.0'
        host: 127.0.0.1
        port: 3306
        driver: pdo_mysql
        memory: false
        dbname: testdb
        user: root
        password: root
        charset: utf8
        wrapperClass: \FastyBird\Core\Application\Tests\Tools\ConnectionWrapper

        types:
            uuid_binary:
                class: Ramsey\Uuid\Doctrine\UuidBinaryType
                commented: false
            utcdatetime:
                class: IPub\DoctrineTimestampable\Types\UTCDateTime
                commented: false

        typesMapping:
            uuid_binary: binary

    debug:
        panel: false

nettrineOrm:
    configuration:
        proxyDir: %tempDir%/cache/doctrine.proxies

nettrineOrmAttributes:
    mapping: []

fbSimpleAuth:
    token:
        issuer: com.fastybird.auth-module
        signature: 'g3xHbkELpMD9LRqW4WmJkHL7kz2bdNYAQJyEuFVzR3k='
    services:
        identity: true
    casbin:
        policy: %appDir%/policy.csv

fbDateTimeFactory:
    frozen: DateTimeImmutable('2020-04-01T12:00:00+00:00')

fbApplication:
    documents:
        mapping: [
            FastyBird\Core\Application\Tests\Fixtures\Dummy: %appDir%/fixtures/dummy
        ]
